<mat-tab-group
  mat-align-tabs="start"
  style="padding-top: 40px; padding-left: 2%; padding-right: 2%;"
>
  <mat-tab label="Cadastrar Jogador">
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      style="padding: 2%;"
    >
      <div style="margin: 0.5%;">
        <div class="container d-flex justify-content-center">
          <div class="col-12 col-md-8">
            <form [formGroup]="playerForm">
              <input
                class="form-control mt-2"
                type="text"
                name="name"
                placeholder="Nome"
                formControlName="name"
              >

              <input
                class="form-control mt-2"
                type="text"
                name="playingPosition"
                placeholder="Posição que joga"
                maxlength="2"
                formControlName="playingPosition"
              >

              <input
                class="form-control mt-2"
                type="number"
                name="shirtNumber"
                maxlength="2"
                placeholder="Número da Camisa"
                formControlName="shirtNumber"
              >

              <input
                class="form-control mt-2"
                type="number"
                name="age"
                maxlength="2"
                placeholder="Idade"
                formControlName="age"
              >

              <button
                type="button"
                (click)="createPlayer()"
                class="btn btn-success mt-2 form-control"
              >Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Lista de Jogadores">
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      style="padding: 2%;"
    >
      <div style="margin: 0.5%;">
        <div class="container d-flex justify-content-center">
          <div class="col-12 col-8">
            <mat-progress-bar *ngIf="!loading" mode="indeterminate"></mat-progress-bar>
            <table *ngIf="loading" class="table table-bordered">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Posição que joga</th>
                  <th>Número da camisa</th>
                  <th>Idade</th>
                  <th>Ação</th>
                </tr>
              </thead>

              <tbody>
                <ng-container *ngFor="let player of players">
                  <tr>
                    <td>
                      <p>
                        {{ player.name }}
                      </p>
                    </td>

                    <td>
                      <p>
                        {{ player.playingPosition }}
                      </p>
                    </td>

                    <td>
                      <p>
                        {{ player.shirtNumber }}
                      </p>
                    </td>

                    <td>
                      <p>
                        {{ player.age }}
                      </p>
                    </td>

                    <td class="d-flex justify-content-between">
                      <a routerLink="/update/{{player.id}}">
                        <button
                          type="button"
                          class="btn btn-warning"
                          data-toggle="modal"
                          data-target="#exampleModal"
                        >
                          Editar
                        </button>
                      </a>

                      <a routerLink="/delete/{{player.id}}">
                        <button
                          type="button"
                          class="btn btn-danger"
                          data-toggle="modal"
                          data-target="#exampleModal"
                        >
                          Apagar
                        </button>
                      </a>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
